* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif
}

.comment-app {
  width: 540px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
}

/* content */

.comment-content {
  width: 100%;
  padding: 20px;
  border: 1px solid #f1f1f1;
}

.comment-field {
  width: 80%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  outline: none;
}

.comment-field-name {
  display: inline-block;
  width: 20%;
}

.comment-input,.comment-textarea {
  margin-bottom: 15px;
}

.comment-textarea-name {
  vertical-align: top;
}

.comment-textarea-field {
  height: 110px;
  resize: none;
}

.comment-btn {
  display: flex;
  justify-content:flex-end
}

.comment-btn-submit{
  width: 80px;
  color: #fff;
  background-color: #00a3cf;
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}


/* comment-list */

.comment-list{
  padding-top: 10px;
}

.list{
  display: flex;
  min-height: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.list-name-label {
  flex-shrink: 0;
}

.list-name{
  color: #00a3cf;
  font-style: italic;
}